<%= user.id %>
<br>
<%= link_to_unless_current user.email, user_path(user) %> 
<br>
<p> username: </p>
<%= user.name %>

<br>
<%= 'sign_in_count'.humanize %>
<%= user.sign_in_count  %>
<br>
<%= 'current_sign_in_at'.humanize %>
<%= user.current_sign_in_at %>
<br>
<%= 'last_sign_in_at'.humanize %>
<%= user.last_sign_in_at %>
<br>
<%= 'current_sign_in_ip'.humanize %>
<%= user.current_sign_in_ip %>
<br>
<%= 'last_sign_in_ip'.humanize %>
<%= user.last_sign_in_ip %>
<br>
<%='confirmed'.humanize %>
<%= boolean_label(user.confirmed?)%>
<br>
<b><%= 'created_by_invite'.humanize %>:</b>
<%= boolean_label(user.created_by_invite?)%>
<br>
<% if user.created_by_invite? %>
    <b><%= 'invitation_accepted_at'.humanize %>:</b>
    <%= boolean_label(user.invitation_accepted_at?)%>
<% end %>
<br>
<%= 'confirmed_at'.humanize %>
<% if user.confirmed_at.present? %>
    <%= user.confirmed_at.strftime('%d/%b/%Y') %>
<% end %>
<br>
<b><%= 'invitees'.humanize%></b>
<%= user.invitees.count %>
  
<%= puts_invitees(user) %>
<hr>


