<%= user.id %>
<br>
<%= link_to_unless_current user.email, user_path(user) %> 
<br>
<p> username: </p>
<%= user.name %>

<br>
<%= 'sign_in_count'.humanize %>
<%= user.sign_in_count  %>
<br>
<%= 'current_sign_in_at'.humanize %>
<%= user.current_sign_in_at %>
<br>
<%= 'last_sign_in_at'.humanize %>
<%= user.last_sign_in_at %>
<br>
<%= 'current_sign_in_ip'.humanize %>
<%= user.current_sign_in_ip %>
<br>
<%= 'last_sign_in_ip'.humanize %>
<%= user.last_sign_in_ip %>
<br>
<%= 'confirmed_at'.humanize %>
<% if user.confirmed_at.present? %>
    <%= user.confirmed_at.strftime('%d/%b/%Y') %>
<% end %>

<hr>


