<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= link_to_unless_current post.title, post %>
  </p>

  <p>
    <strong>Body:</strong>
    <div class="trix-content">
      <%= post.body %>
    </div>
  </p>
  <strong>작성일: </strong><%= post.created_at.strftime('%d %B %Y') %>
  <p>
    <strong>User: </strong>
    <%= link_to post.user.username, post.user %>
  </p>

</div>
