<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%# <i class="fas fa-flag"></i> %>
    <%= image_tag "thubnail.png", class: "rounded-circle d-inline-block align-top", height: "30", alt: "logo" %>
    Testing
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <%= deep_active_link_to root_path do %>
        <div class="fa fa-home"></div>
        Home
      <% end %>
      <% if current_user %>
      <%= deep_active_link_to new_post_path do %>
        <div class="fa fa-plus"></div>
        글쓰기
      <% end %>
        <%= deep_active_link_to posts_path do %>
          <i class="fa-solid fa-passport"></i>
          게시물목록
        <% end %>
        <%= deep_active_link_to users_path do %>
          <div class="fa-solid fa-users"></div>
          사용자목록
        <% end %>
        <%= deep_active_link_to new_user_invitation_path do %>
          <i class= "fa fa-user-plus"></i>
          친구초대
        <% end %>
        <%= link_to privacy_path, class: "nav-link #{'active font-weight-bold' if current_page?(privacy_path)}" do %>
          <div class="fa-solid fa-hand"></div>
          Privacy
        <% end %>
      <% end %>
    </div>
    <div class="navbar-nav ms-auto">
      <% if current_user %>
        <li class="nav-item dropdown" id = "user_dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.image? %>
              <%= image_tag current_user.image, size: "30x30", class: "rounded-circle"%>
            <% else %>
              <div class="fa fa-user"></div>
            <% end%>
            <b><%= current_user.username %></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <%= link_to user_path(current_user), class: "dropdown-item #{'active font-weight-bold' if current_page?(user_path(current_user))}" do %>
              <div class="fa fa-cog"></div>
              <b>My profile</b>
            <% end %>
            <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
            <% end %>
          </ul>
        </li>
      <% else %>
        <%= active_link_to "로그인" , new_user_session_path %>
        <%= active_link_to "회원가입", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</nav>
