<!DOCTYPE html>
<html>
  <head>
    <title>SomeProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# Bootstrap CDN추가 %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <%# fontawsone CDN 추가 %>
    <script src="https://kit.fontawesome.com/3b5fa43c7d.js" crossorigin="anonymous"></script> 
    <%= javascript_importmap_tags %>
  </head>

  <body class= "container mainbody">
    <%= link_to "Home", root_path ,class: "custom-a" %>
    <%= link_to "terms", terms_path ,class: "custom-a" %>
    <%= link_to "privacy", privacy_path ,class: "custom-a" %>
    <%= yield %>
  </body>
</html>
